.stackedit__toc ul {
  background-image:none;
  padding: 0;
  margin-left:20px;
}
.stackedit__toc ul a {
background-image:none;
margin: 0rem 0;
padding: 0rem 1rem;
}
.stackedit__toc ol {
background-image:none;
margin-left: -20px;
}
.stackedit__toc ul ul {
background-image:none;
color: #888;
}

.stackedit__toc ul ul a {
background-image:none;
margin: 0;
padding: 0.1rem 1rem;
}
.stackedit__toc li {
background-image:none;
display: block;
}
.stackedit__toc a {
background-image:none;
display: block;
color: inherit;
text-decoration: none;
}

.stackedit__toc a:active {
background-image: none;
color: $toc-color-active;
}

.stackedit__toc a:hover {
background-color: $toc-hover !important;
background-image:none !important ;
color: $toc-color-active !important;
}

.stackedit-scrolled{
background-color: $toc-hover !important;
background-image:none !important ;
color: $toc-color-active !important;
}

.stackedit-clicked{
background-color: $toc-hover !important;
background-image:none !important ;
color: $toc-color-active !important;
}


.grid {
grid-template-columns: 1fr 1fr;
}

.stackedit__left {
grid-column: 0;
grid-row: 1;
display: none;
width: $stackedit-width;
padding: 1.5rem 0rem;
left: 0;
overflow: visible;
z-index: 1;
font-family: "Helvetica Neue";

}

.stackedit__left__inner {
overflow-y: scroll;
height: 75vh;
}

@media (min-width: 1060px) {
.stackedit__left {
  display: block;
}
}

/* Style the buttons */
.toc-btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.btn:active{
  background-color: #666;
  color: white;
}



.btnScrollToTop {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $top-icon-color;       
    opacity: 0;   
    width: $sp-9;
    height: $sp-9;
    @include mq(md) {
      height: 2em;
      width: 2em;
    }
    color: black;
    background-color: rgba($btn-scroll-top-bg, 0.6);
    border: 1px solid rgba($link-color, 0.3);
    border-radius: #{$sp-9 / 2};
    position: fixed;
    right: $sp-4;
    bottom: $sp-4 + 0.5rem + $sp-9; 
    border-radius: 50%; 
    font:  30px monospace; 
    cursor: pointer;     
    z-index: 2;
    transition: opacity 1s, transform 0.5s, color 0.3s;  
    // box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    &:hover{
      transition: color 0.3s;
      background-color: rgba($btn-scroll-top-bg, 1.0);
    }
}

.btnScrollToTop.show {      
  opacity: 1;  
  transform: scale(1);
  transition: opacity 1s, transform 0.5s, color 0.3s;     
}

.btnScrollToTop:active {
  background-color: transparent;
}



.center_full {
display: block;
margin-left: auto;
margin-right: auto;
}

.center_seventy {
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
}
.center_fifty {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.center_fourty {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}

.center_thirty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.center_twenty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.blueborder {
border-style: solid;
border-color: #0000ff;
padding: 10px;
line-height: 1.8;
color: black;
}

.redborder {
border-style: solid;
border-color: #ff0000;
padding: 10px;
line-height: 1.8;
}

.greenbox {
background-color: $code-background-color;
padding: 10px;
border: 1px solid $green-300;
line-height: 1.8;
}

.orangebox {
background-color: $code-background-color;
padding: 10px;
border: 1px solid $highlight-orange;
line-height: 1.8;
}

.redbox {
background-color: $code-background-color;
border: 1px solid $red-300;
display: block;
padding: 10px;
line-height: 1.8;
}

.bluebox {
background-color: $code-background-color;
border: 1px solid $blue-300;
display: block;
padding: 10px;
line-height: 1.8;
}

.yellowbox {
background-color: $code-background-color;
border: 1px solid $yellow-300;
display: block;
padding: 10px;
line-height: 1.8;
}

.redtext {
color: red;
}

.bluetext {
color: blue;
}

.orangetext {
color: #ff791a;
}

.greentext {
color: green;
}

.collapsible_code {
font-size: 0.9em;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  // background-color: $collapsible-bg-color;
  color: $collapsible-font-color;
  border: 1px solid $content-answer-border;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 2px solid $link-color !important;
  cursor: pointer;
  margin-top: 12px;
  padding: 5px;
  text-align: left;
  outline: none;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 20pt;
  padding-left: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
//   .active,
.collapsible.active {
background-color: $collapsible-bg-color;
border-bottom-right-radius: 0px;
border-bottom: none;
}

.collapsible:hover{
background-color: $collapsible-bg-color;
}

/* Style the collapsible content. Note: hidden by default */
.content_answer {
padding: 0 10px;
display: none;
overflow: hidden;
color: $collapsible-font-color;
border-left: 2px solid $link-color !important;
border-right: 1px solid $content-answer-border;
border-bottom: 1px solid $content-answer-border;
border-bottom-right-radius: 6px;
}


.theme-toggle-button{
  display: flex;
  height: $sp-9;
  width: $sp-9;
  padding: $gutter-spacing-sm;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  cursor: pointer;
  vertical-align: middle;
  background-color: transparent;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  &.dark-button{
    background-image: url("../images/moon.svg");
    // filter: invert(1) hue-rotate(180deg);
  }
  &.light-button{
    background-image: url("../images/sun.svg");
  }
}

// .theme-toggle-button-screen-small{
//   @include mq(md) {
//     display: none;
//   }
// }

// .theme-toggle-button-screen-large{
//   @include mq-max(md) {
//     display: none;
//   }
// }

.theme-toggle-button.active{
background-color: none;
}


b,
strong {
  font-weight: bold;
  color: $bold-color;
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

.nav-stick {
  position: sticky;
  top: 0px;
}


.no-invert{
  filter: none !important
}

.avatar {
  height: 2em;
  width: 2em;
  scale: 1;
  // float: left;
  // margin-top: -13px;
  // border-radius: 0.2em;
  // margin-right: 0.5em;
}